.detbl,.de_caption_tbl
{
direction:ltr; border-spacing:0px;
border-collapse: collapse;
border: 0px none black;
}
.de_list
{
margin: 0;padding: 0;
}
.de_figure
{
margin: 0;padding: 0;width: 100%;text-indent: 0 !important;
}
.de_caption_tbl
{
margin: 0;padding: 0;width: 100%;
}
div.p
{
font-weight:normal;
}

div.p
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 8pt;
margin-bottom: 8pt;
}
div.description_on_page div.p,
 div.description_on_page div.p a,
 .m-pageContent__side__header div.p,
 .m-pageContent__side__header div.p a,
 .m-pageContent__side__footer div.p,
 .m-pageContent__side__footer div.p a,
 .m-pageContent__side__right div.p,
 .m-pageContent__side__right div.p a,
 .m-pageContent__side__left div.p,
 .m-pageContent__side__left div.p a
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
div.h1
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 0pt;
margin-bottom: 16pt;
}
h1
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h2
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 20pt;
margin-bottom: 8pt;
}
h2
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
div.h3
{
direction: ltr;
text-align: left;
text-indent: 0;
margin-left: 0;
line-height: 1.380;
margin-top: 16pt;
margin-bottom: 8pt;
}
h3
{
font-family:"Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:bold;
display:inline;
margin:0;
padding:0;
}
span.code
{
font-family:"Courier New";
font-size: 12pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:"Georgia";
font-size: 12pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}

@font-face
{
font-family:"Font Awesome 6 Free";
font-style:normal;
font-weight:900;
font-display:block;
src:url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.ttf") format("truetype");
}

table.de-text-block
{
border-collapse:separate;
border-spacing:0px;
}

table.de-text-block > tbody > tr > td.de-tb-icon
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler
{
vertical-align:top;
}

table.de-text-block > tbody > tr > td.de-tb-text
{
vertical-align:top;
width:100%;
}

table.de-text-block > tbody > tr > td.de-tb-icon > span.de-text-block-icon, table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:inline-block;
font-family:"Font Awesome 6 Free";
font-weight:900;
-moz-osx-font-smoothing:grayscale;
-webkit-font-smoothing:antialiased;
font-style:normal;
font-variant:normal;
line-height:1;
text-rendering:auto;
width:1.25em;
text-align:center;
}

table.de-text-block > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
display:none;
}

table.de-text-block-info
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#d9edf7;border-left-style:solid;border-left-width:1px;border-left-color:#bce8f1;border-top-style:solid;border-top-width:1px;border-top-color:#bce8f1;border-right-style:solid;border-right-width:1px;border-right-color:#bce8f1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#bce8f1;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#317096;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-info > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-info > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-note
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fafafa;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#999999;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-note > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-note > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-success
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#dff0d8;border-left-style:solid;border-left-width:1px;border-left-color:#d6e9c6;border-top-style:solid;border-top-width:1px;border-top-color:#d6e9c6;border-right-style:solid;border-right-width:1px;border-right-color:#d6e9c6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#d6e9c6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#3c763d;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-success > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-success > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-warning
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#fcf8e3;border-left-style:solid;border-left-width:1px;border-left-color:#faebcc;border-top-style:solid;border-top-width:1px;border-top-color:#faebcc;border-right-style:solid;border-right-width:1px;border-right-color:#faebcc;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#faebcc;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#f0ad4e;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-warning > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-error
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2dede;border-left-style:solid;border-left-width:1px;border-left-color:#ebccd1;border-top-style:solid;border-top-width:1px;border-top-color:#ebccd1;border-right-style:solid;border-right-width:1px;border-right-color:#ebccd1;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#ebccd1;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:inline-block;font-size:24px;color:#d9534f;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-error > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-error > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-quote
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:#f2f2f2;border-left-style:solid;border-left-width:3px;border-left-color:#c8c8c8;border-top-style:none;border-top-width:1px;border-top-color:#000000;border-right-style:none;border-right-width:1px;border-right-color:#000000;border-bottom-style:none;border-bottom-width:1px;border-bottom-color:#000000;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-quote > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}

table.de-text-block-spoiler
{
text-align:left;margin-left:0;margin-right:auto;width:100%;background-color:transparent;border-left-style:solid;border-left-width:1px;border-left-color:#e6e6e6;border-top-style:solid;border-top-width:1px;border-top-color:#e6e6e6;border-right-style:solid;border-right-width:1px;border-right-color:#e6e6e6;border-bottom-style:solid;border-bottom-width:1px;border-bottom-color:#e6e6e6;border-radius:0;margin-top:5px;margin-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon
{
padding-left:10px;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-icon > span.de-text-block-icon
{
display:none;font-size:24px;color:#000000;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler
{
padding-left:0;padding-top:5px;padding-right:0;padding-bottom:5px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-spoiler > span.de-spoiler-text-block-toggle
{
font-size:24px;margin-left:0;margin-top:10px;margin-right:10px;margin-bottom:10px;
}

table.de-text-block-spoiler > tbody > tr > td.de-tb-text
{
padding-left:0;padding-top:5px;padding-right:10px;padding-bottom:5px;
}
div.de_03FDC443AD
{
text-align:left;text-indent:0;margin-left:0;}
div.de_1A588EC08E
{
direction:ltr;text-align:left;margin-top:0pt;margin-bottom:0pt;}
div.de_38B3956165
{
text-align:center;}
div.de_639AF163B7
{
direction:ltr;margin-top:0pt;margin-bottom:0pt;}
div.de_7A29431757
{
direction:ltr;text-align:left;text-indent:0;margin-left:10px;margin-top:0pt;margin-bottom:0pt;}
div.de_84A7A25AFB
{
direction:ltr;text-align:right;text-indent:0;margin-left:0;margin-top:0pt;margin-bottom:0pt;}
div.de_8A28B17DE3
{
direction:ltr;text-align:center;text-indent:0;margin-left:40px;margin-top:0pt;margin-bottom:0pt;}
div.de_9D8EED4BA6
{
text-align:center;text-indent:0;margin-left:0;margin-top:0pt;margin-bottom:0pt;}
div.de_AC7DF19144
{
direction:ltr;text-align:left;text-indent:0;margin-left:40px;margin-top:0pt;margin-bottom:0pt;}
div.de_AE6EEF3B87
{
text-align:left;text-indent:0;margin-left:10px;margin-top:0pt;margin-bottom:0pt;}
div.de_BBC1EEF4C2
{
direction:ltr;text-align:left;text-indent:0;margin-left:0;margin-top:0pt;margin-bottom:0pt;}
div.de_C54D9B1CE1
{
direction:ltr;text-align:left;text-indent:0;margin-left:0;}
div.de_CB57053EDC
{
direction:ltr;text-align:left;text-indent:0;margin-left:79px;margin-top:0pt;margin-bottom:0pt;}
div.de_D8A905EC7A
{
margin-top:0pt;margin-bottom:0pt;}
div.de_DA9FF9A043
{
direction:ltr;text-align:right;text-indent:0;margin-left:40px;margin-top:0pt;margin-bottom:0pt;}
div.de_E2924902D1
{
text-align:right;margin-top:0pt;margin-bottom:0pt;}
div.de_E697139D47
{
text-align:left;text-indent:0;margin-left:0;margin-top:0pt;margin-bottom:0pt;}
div.de_F56DF7CCAF
{
direction:ltr;text-align:left;text-indent:0;margin-left:119px;margin-top:0pt;margin-bottom:0pt;}
div.de_F5E25F2BBC
{
text-align:left;margin-top:0pt;margin-bottom:0pt;}
div.de_FA7817C5CC
{
direction:ltr;text-align:left;text-indent:0;margin-left:49px;margin-top:0pt;margin-bottom:0pt;}
div.de_FD471E439E
{
direction:ltr;text-align:left;text-indent:0;margin-left:65px;margin-top:0pt;margin-bottom:0pt;}
img.de_78924636B9
{
margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0;}
img.de_F0AFF5680A
{
margin-top: 0; margin-right: 8px; margin-bottom: 8px; margin-left: 8px;}
span.de_4AF4BF9DD6
{
	font-family: "Arial";
	font-size: 11pt;
	color:#000000;
}
span.de_56F4564E24
{
	font-family: "Arial";
	font-size: 12pt;
	color:#000000;
}
span.de_5FB625965B
{
	font-family: "Arial";
	font-size: 9pt;
	color:#000000;
}
span.de_7D7303FC7B
{
	font-family: "Arial";
	font-size: 9pt;
	color:#2184d0;
}
span.de_7ECBECEBE5
{
	font-family: "Times New Roman";
	font-size: 12pt;
	color:#000000;
}
span.de_A1C954FB2E
{
	font-family: "Arial";
	font-size: 9pt;
	color:#a1a1a1;
}
span.de_BA39CD3CF1
{
	font-family: "Times New Roman";
	font-size: 16pt;
	color:#000000;
}
span.de_CAB14B116D
{
	font-family: "Times New Roman";
	font-size: 14pt;
	color:#000000;
}
span.de_DABA477879
{
	font-family: "Arial";
	font-size: 13pt;
	color:#000000;
}
.list-element {
	list-style-type: none;
}
.list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-0 > div > * {
	text-indent: 0px;}
.list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-0, disc) '\00a0';
	counter-increment: list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-0;
}
.list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-1 > div > * {
	text-indent: 0px;}
.list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-1, disc) '\00a0';
	counter-increment: list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-1;
}
.list-counter-0cb2c7ed-bf92-4d77-a5c9-9c5d4cb119f1-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-0 > div > * {
	text-indent: 0px;}
.list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-0, disc) '\00a0';
	counter-increment: list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-0;
}
.list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-1 > div > * {
	text-indent: 0px;}
.list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-1, disc) '\00a0';
	counter-increment: list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-1;
}
.list-counter-92014a7b-93e7-4093-a6e5-6d12c2d85c26-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1c6e2982-216a-4474-a83c-90612847e27b-0 > div > * {
	text-indent: 0px;}
.list-counter-1c6e2982-216a-4474-a83c-90612847e27b-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1c6e2982-216a-4474-a83c-90612847e27b-0, disc) '\00a0';
	counter-increment: list-counter-1c6e2982-216a-4474-a83c-90612847e27b-0;
}
.list-counter-1c6e2982-216a-4474-a83c-90612847e27b-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-1c6e2982-216a-4474-a83c-90612847e27b-1 > div > * {
	text-indent: 0px;}
.list-counter-1c6e2982-216a-4474-a83c-90612847e27b-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-1c6e2982-216a-4474-a83c-90612847e27b-1, disc) '\00a0';
	counter-increment: list-counter-1c6e2982-216a-4474-a83c-90612847e27b-1;
}
.list-counter-1c6e2982-216a-4474-a83c-90612847e27b-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-0 > div > * {
	text-indent: 0px;}
.list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-0, disc) '\00a0';
	counter-increment: list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-0;
}
.list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-1 > div > * {
	text-indent: 0px;}
.list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-1, disc) '\00a0';
	counter-increment: list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-1;
}
.list-counter-8923f8a9-5319-44cf-87ba-dae628da7462-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-0 > div > * {
	text-indent: 0px;}
.list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-0, disc) '\00a0';
	counter-increment: list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-0;
}
.list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-1 > div > * {
	text-indent: 0px;}
.list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-1, disc) '\00a0';
	counter-increment: list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-1;
}
.list-counter-2fd24f99-12c3-48e2-b9f9-3347cee0c861-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-0 > div > * {
	text-indent: 0px;}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-0, disc) '\00a0';
	counter-increment: list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-0;
}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-1 > div > * {
	text-indent: 0px;}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-1, disc) '\00a0';
	counter-increment: list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-1;
}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-2 > div > * {
	text-indent: 0px;}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-2, disc) '\00a0';
	counter-increment: list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-2;
}
.list-counter-d55a0698-333e-4c3d-b065-aeb600a7ca96-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-0 > div > * {
	text-indent: 0px;}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-0, disc) '\00a0';
	counter-increment: list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-0;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-1 > div > * {
	text-indent: 0px;}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-1, disc) '\00a0';
	counter-increment: list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-1;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-2 > div > * {
	text-indent: 0px;}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-2, disc) '\00a0';
	counter-increment: list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-2;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-3 > div > * {
	text-indent: 0px;}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-3, disc) '\00a0';
	counter-increment: list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-3;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-4 > div > * {
	text-indent: 0px;}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-4, disc) '\00a0';
	counter-increment: list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-4;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-5 > div > * {
	text-indent: 0px;}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-5, disc) '\00a0';
	counter-increment: list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-5;
}
.list-counter-713de6c6-1794-4f58-866d-2a35b6e5dbf3-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-0 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-0, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-0;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-1 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-1, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-1;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-2 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-2, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-2;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-3 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-3, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-3;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-4 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-4, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-4;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-5 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-5, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-5;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-6 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-6, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-6;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-7 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-7 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-7, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-7;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-7 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-8 > div > * {
	text-indent: 0px;}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-8 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-8, disc) '\00a0';
	counter-increment: list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-8;
}
.list-counter-ed0f785e-08c8-43bf-8b92-3fc379756276-8 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-752d8717-bb8f-4447-a489-4ac674be858e-0 > div > * {
	text-indent: 0px;}
.list-counter-752d8717-bb8f-4447-a489-4ac674be858e-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-752d8717-bb8f-4447-a489-4ac674be858e-0, disc) '\00a0';
	counter-increment: list-counter-752d8717-bb8f-4447-a489-4ac674be858e-0;
}
.list-counter-752d8717-bb8f-4447-a489-4ac674be858e-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-752d8717-bb8f-4447-a489-4ac674be858e-1 > div > * {
	text-indent: 0px;}
.list-counter-752d8717-bb8f-4447-a489-4ac674be858e-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-752d8717-bb8f-4447-a489-4ac674be858e-1, disc) '\00a0';
	counter-increment: list-counter-752d8717-bb8f-4447-a489-4ac674be858e-1;
}
.list-counter-752d8717-bb8f-4447-a489-4ac674be858e-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-0 > div > * {
	text-indent: 0px;}
.list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-0, disc) '\00a0';
	counter-increment: list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-0;
}
.list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-1 > div > * {
	text-indent: 0px;}
.list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-1, disc) '\00a0';
	counter-increment: list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-1;
}
.list-counter-2051e808-8d5e-4547-a5f4-b9803b6e55b4-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-0 > div > * {
	text-indent: 0px;}
.list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-0, disc) '\00a0';
	counter-increment: list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-0;
}
.list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-1 > div > * {
	text-indent: 0px;}
.list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-1, disc) '\00a0';
	counter-increment: list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-1;
}
.list-counter-14670f20-e0b2-4c16-ba7c-13fbf687b503-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-0 > div > * {
	text-indent: 0px;}
.list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-0, disc) '\00a0';
	counter-increment: list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-0;
}
.list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-1 > div > * {
	text-indent: 0px;}
.list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-1, disc) '\00a0';
	counter-increment: list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-1;
}
.list-counter-0bfd010e-3bfd-4a0f-afc5-0fc001724712-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9a273504-6f19-4864-961b-985850c2e744-0 > div > * {
	text-indent: 0px;}
.list-counter-9a273504-6f19-4864-961b-985850c2e744-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9a273504-6f19-4864-961b-985850c2e744-0, disc) '\00a0';
	counter-increment: list-counter-9a273504-6f19-4864-961b-985850c2e744-0;
}
.list-counter-9a273504-6f19-4864-961b-985850c2e744-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-9a273504-6f19-4864-961b-985850c2e744-1 > div > * {
	text-indent: 0px;}
.list-counter-9a273504-6f19-4864-961b-985850c2e744-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-9a273504-6f19-4864-961b-985850c2e744-1, disc) '\00a0';
	counter-increment: list-counter-9a273504-6f19-4864-961b-985850c2e744-1;
}
.list-counter-9a273504-6f19-4864-961b-985850c2e744-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-0 > div > * {
	text-indent: 0px;}
.list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-0, disc) '\00a0';
	counter-increment: list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-0;
}
.list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-1 > div > * {
	text-indent: 0px;}
.list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-1, disc) '\00a0';
	counter-increment: list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-1;
}
.list-counter-2d529314-18c3-498a-b384-61bfb3d2a5ee-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-0 > div > * {
	text-indent: 0px;}
.list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-0, disc) '\00a0';
	counter-increment: list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-0;
}
.list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-1 > div > * {
	text-indent: 0px;}
.list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-1, disc) '\00a0';
	counter-increment: list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-1;
}
.list-counter-11c2ff36-2d2e-4a49-8be5-3787f52857e7-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-0 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-0, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-0;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-1 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-1, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-1;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-2 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-2 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-2, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-2;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-2 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-3 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-3 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-3, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-3;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-3 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-4 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-4 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-4, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-4;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-4 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-5 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-5 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-5, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-5;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-5 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-6 > div > * {
	text-indent: 0px;}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-6 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-6, disc) '\00a0';
	counter-increment: list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-6;
}
.list-counter-0073fb81-44d5-4b31-91e9-30c95538a3c7-6 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-0 > div > * {
	text-indent: 0px;}
.list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-0, disc) '\00a0';
	counter-increment: list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-0;
}
.list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-1 > div > * {
	text-indent: 0px;}
.list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-1, disc) '\00a0';
	counter-increment: list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-1;
}
.list-counter-00216fe0-cdae-4d09-ae00-620b6bd85f29-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-0 > div > * {
	text-indent: 0px;}
.list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-0 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-0, disc) '\00a0';
	counter-increment: list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-0;
}
.list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-0 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
.list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-1 > div > * {
	text-indent: 0px;}
.list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-1 > div > div[class='list-marker']:before {
	display: inline-block;
	text-align: left;
	padding: 0;
	margin: 0;
	content: '' counter(list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-1, disc) '\00a0';
	counter-increment: list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-1;
}
.list-counter-ee576334-bd3f-40b9-8031-66b2e279dcb1-1 > div > div[class='list-marker-chm'] {
	display: inline-block;
	text-align: left;
	zoom: 1;
	padding: 0;
	margin: 0;
	*display: inline;
}
